html, body, #app {
    height: 100%;
    overflow: auto;
}

body {
    background-color: aliceblue;
    padding-bottom: 3em;
}

#app::-webkit-scrollbar-track {
    display: none;
}
    
#app::-webkit-scrollbar-thumb {
    display: none;
}

#app::-webkit-scrollbar {
    width:0;
    height: 0;
}

#div_descr{
    width: 50%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    
}

#div_descr > p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #212529;
    font-weight: bold;
    font-size: large;
    font-family: ui-serif;
    text-align: -webkit-center;
    text-shadow: 7px 1px 20px rgb(0 0 0 / 90%);
    font-size: 1.8em;

    background: #faebd782;
    border-radius: 25px;
    padding: 1em;
}



#search_form    {
    background: white;
    border-radius: 10px;
}




#div_display {
    padding-top: 3em !important;
}

.router-link-active > a {
    color: #4f93bb !important;
    font-weight: 600;
}


#div_kinds{
    column-count: 2;
}

.response {
    font-weight: 700;
}

#next_button {
    margin: 2em;
    float: right;
}




.places {
    padding: 1em;
}

.places >  p {
    margin: 0;
}

.div_days {
    padding: 1em;
    background-color: #dbf8f3;
    border-radius: 25px;
    margin: 1em;
}