html, body, #app {
    height: 100%;
    overflow: auto;
}

body {
    background-color: white;
    padding-bottom: 3em;
}

#app::-webkit-scrollbar-track {
    display: none;
}
    
#app::-webkit-scrollbar-thumb {
    display: none;
}

#app::-webkit-scrollbar {
    width:0;
    height: 0;
}

#div_descr{
    width: 50%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    
}

#div_descr > p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #212529;
    font-weight: bold;
    font-size: large;
    font-family: ui-serif;
    text-align: -webkit-center;
    text-shadow: 7px 1px 20px rgb(0 0 0 / 90%);
    font-size: 1.8em;

    background: #faebd782;
    border-radius: 25px;
    padding: 1em;
}



#search_form    {
    background: white;
    border-radius: 10px;
}




#div_display {
    padding-top: 3em !important;
}

.router-link-active > a {
    color: #4f93bb !important;
    font-weight: 600;
}


#div_kinds{
    column-count: 2;
}

#div_kinds > label {
    padding-left: 1rem;
}

.response {
    font-weight: 700;
}

#next_button {
    margin: 2em;
    float: right;
}




.places {
    padding: 1em;
    border-bottom: solid;
    border-width: thin;
}

.places >  p {
    margin: 0;
}

.div_days {
    padding: 1em;
    border-radius: 5px;
    margin: 1em;
    background-color: #efeeec;

}



.list-group-item{
    background-color: #e6f2ff;
    color: #2b79e2;
    border-color: #95b0cc;
    overflow: auto;
}

.list-group-item.active {
    z-index: 2;
    color: rgb(74, 48, 120);
    background-color: #e1f0ff;
    border-color: #95b0cc ! important;
}

.list-group-item.active:hover {
    background-color: #e1f0ff;
    border-color: #95b0cc;
}

.opentrip_link{
    float: left;
    padding-right: 1em;
}

.btn_showjson{
    border: none;
    background-color: transparent;
    color: #2b79e2;
}

.modal-content {
    overflow: auto;
}

.modal-dialog {
    width: 70% !important;
}

.modal-dialog::-webkit-scrollbar-track {
    display: none;
}
    
.modal-dialog::-webkit-scrollbar-thumb {
    display: none;
}

.modal-dialog::-webkit-scrollbar {
    width:0;
    height: 0;
}

@media screen and (min-width: 576px) {

    .modal-dialog {
        max-width: 100%;
        margin: 1.75rem auto;
    }
}

#poi {
    background-color: #cce5ff;
    overflow: auto;
}

.poi_content {
    padding-top: 1rem;
}

.poi_content > img {
    float: right;
    border-radius: 15px;
    width: 50%;
}


.poi_content > p {
    display: inline-block;
    width: 46%;
    padding-top: 1rem;
}

#jsonModal > img {
    padding: 10px;
}

#jsonModal > p {
    float: left;
}


/* loading gif */
#loading {
    text-align: center;
}
#loading div {
    background: url('../img/loading.gif') no-repeat center center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    /* overflow: auto; */
    height: 80px;
}

#loading p {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 10px;
    font-weight: 500;
}

/* login modal */


/* Full-width input fields */
#loginModal  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

#loginModal  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.3rem;
    margin-top: 2em;
  }
  


  #downloadBtn, #saveBtn {
    float: right;
    margin-left: 20px;
    color: white;
    background-color: #5087c4;
    border-color: #5087c4;
  }

  #div_content {
    margin-top: 4em;
  }


  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
                  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #134b5b;
    color: white;
  }

  td {
    background-color: #eaf4fd;
    text-align: left;
  }